#home{
	width: 700px;
	height: 30px;
	background-color: red;
	border-radius: blue;
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #FEF;
}

body
{overflow-x:hidden;
	font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif
	}